.form {
  @include flex(center, center, column, 50px);
  padding-top: 20px;

  &_container {
    @include flex(center, flex-start, column, 7px);
    width: 100%;
  }

  &_input {
    padding: 10px;
    width: 100%;
  }

  &_label {
    font-size: 1.2rem;
    font-weight: 500;
    color: $yellow;
  }
}
